@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  min-height: 100vh;
  background-color: var(--Light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.main-container {
  width: 60%;
  background-color: var(--White);
  border-radius: 1rem;
}

.card {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  justify-content: space-between;
}

.input-container,
.output-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  gap: 1rem;
  width: 45%;
}

.bill-section,
.tip-section,
.people-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  color: var(--Very-dark-cyan);
  font-size: 0.8rem;
}

.prompt {
  color: red;
  font-size: 0.8rem;
  justify-content: end;
}

.people-text {
  display: flex;
  justify-content: space-between;
}

.bill-input,
.people-input {
  position: relative;
}

.bill-input input,
.people-input input {
  width: 95%;
  text-align: right;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  outline-color: var(--Strong-cyan);
  cursor: pointer;
  font-family: inherit;
}

.people-input input:invalid {
  outline-color: red;
}

.bill-input img,
.people-input img {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tip-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
}

.tip-btns button {
  font-family: inherit;
  font-size: 1.1rem;
  width: 29%;
  color: var(--White);
  background-color: var(--Very-dark-cyan);
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.tip-btns button:hover,
.active {
  color: var(--Very-dark-cyan);
  background-color: var(--Strong-cyan);
}

.tip-btns input {
  font-family: inherit;
  width: 29%;
  padding: 0.5rem auto;
  text-align: center;
  font-size: 1rem;
  border: none;
  background-color: var(--Very-light-grayish-cyan);
  border-radius: 0.2rem;
  outline-color: var(--Strong-cyan);
}

.output-container {
  background-color: var(--Very-dark-cyan);
  border-radius: 1rem;
  width: 40%;
  gap: 1rem;
  padding: 2rem;
  font-size: 0.9rem;
}

.tip-amount,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tip-amount h2,
.total h2 {
  font-size: 2rem;
  color: var(--Strong-cyan);
}

.tip-amount span,
.total span {
  font-size: 0.7rem;
  color: var(--Grayish-cyan);
}

.reset-btn {
  font-family: inherit;
  margin-top: auto;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  opacity: 20%;
}

.reset-btn:hover {
  opacity: 100%;
}

.attribution {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1vw;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
